<li>
  <a href="/projects">
    <img style="margin:0 6px;" src="/images/list.png" alt="" width="28" height="28">
    Listar Citas Pacientes
  </a>
</li>
<li class="divider"></li>
<li>
  <a href="/projects/add">
    <img style="margin:0 6px;" src="/images/registration.png" alt="" width="28" height="28">
    Registrar Cita Paciente
  </a>
</li>