<br><br>
<div 
class="row center yellow lighten-3" 
style="padding: 2em; border-radius: 1em;">
  <h1 class="header center blue-text">
    Bienvenido al Sistema de Citas
    Veterinaria Aeropuerto
  </h1>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
      Esta aplicación web permitira agendar las citas de los pacientes de una veterinaria
    </h5>
  </div>
  <div class="row center">
    <a href="/projects/add" 
    class="btn-large waves-effect waves-light blue">
    ¿Desea agendar una cita para su mascota?</a>
  </div>
</div>